.forgot-password-modal{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
}

.forgot-password-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
  }

  .forgot-password-close:hover {
	color: #03e9f4; 
  }

.forgot-password-modal.open {
	display: flex;
}

.forgot-password-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 320px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
  }
  
  @media (max-width: 600px) {
	.login-box {
	  width: 70%;
	}
  }
  
  .forgot-password-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
  }
  
  .forgot-password-box .user-box-1 {
	position: relative;
  }
  
  .forgot-password-box .user-box-1 input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent !important;
	box-shadow: none;
  }
  .forgot-password-box .user-box-1 label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
	background: transparent !important;
  }
  
  .forgot-password-box .user-box-1 input:focus ~ label,
  .forgot-password-box .user-box-1 input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 12px;
	background: transparent !important;
  }
  
  .forgot-password-box .user-box-1 input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
  } 
  
  .forgot-password-box form {
	text-align: center;
  }
  
  .forgot-password-box form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 20px;
	letter-spacing: 5px;
	cursor: pointer;
	border: none;
	background: transparent;
  }
  
  .forgot-password-box form button:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }
  
  .forgot-password-box form button span {
	position: absolute;
	display: block;
  }
  
  .forgot-password-box form button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
	0% {
	  left: -100%;
	}
	50%, 100% {
	  left: 100%;
	}
  }
  
  .forgot-password-box form button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: btn-anim2 1s linear infinite;
	animation-delay: 0.25s;
  }
  
  @keyframes btn-anim2 {
	0% {
	  top: -100%;
	}
	50%, 100% {
	  top: 100%;
	}
  }
  
  .forgot-password-box form button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: btn-anim3 1s linear infinite;
	animation-delay: 0.5s;
  }
  
  @keyframes btn-anim3 {
	0% {
	  right: -100%;
	}
	50%, 100% {
	  right: 100%;
	}
  }
  
  .forgot-password-box form button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: btn-anim4 1s linear infinite;
	animation-delay: 0.75s;
  }
  
  @keyframes btn-anim4 {
	0% {
	  bottom: -100%;
	}
	50%, 100% {
	  bottom: 100%;
	}
  }
  
  input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.4) inset;
	-webkit-text-fill-color: black !important;
  }
  
  input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.4) inset;
	-webkit-text-fill-color: black !important;
  }
